<div class="login-box">
	<div>
		<h2>Sign in</h2>
		<div class="row">
			<div class="col-xs-12">
				<p>Username</p>
			</div>
			<div class="col-xs-12">
				<input class="input-field" ng-model="username" type="text" required>
			</div>
			<div class="col-xs-12">
				<p>Password</p>         
			</div>
			<div class="col-xs-12">
				<input class="input-field" ng-model="password" type="text" required>
			</div>
			<div class="col-xs-12">
				<button  class="btn login-button" ng-model="loginButton" class="btn btn-primary" ng-click="signin()">Sign in</button>
			</div>
			<div class="col-xs-12">
				<a ng-href='/passwordReset'>Can't access your account?</a>
		    </div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<div class='new-account'>
					<a ng-href='/signup'>Create an account</a>
			    </div>
			    <br/>
			</div>
		</div>
	</div>
</div>