<div>
	<div class='login'>
		<div class='input'>
			<div class="col-xs-12">
				<p>Username</p>
			</div>
			<div class="col-xs-12">
				<input ng-model="loginName" type="text" required>
			</div></br></br>
			<div class="col-xs-12">
				<p>Password</p>
			</div>
			<div class="col-xs-12">
				<input ng-model="password" type="text" required>
			</div>
			<div class="col-xs-12">
				</br>
				<button  ng-model="loginButton" class="btn btn-primary" ng-click="signin()">Login</button>
			</div>
		</div>
	</div>
</div>