.signup {
	position: relative;
	/*width: 100%;
	height: 100%;*/
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 20%;
/*	border-radius: 5px;
    border: 1px solid #D8DEE2;*/
}

.signup-box {
	position: absolute;
	vertical-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	border-radius: 5px;
    border: 1px solid #D8DEE2;
}

.input-field {
	width: 100%;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
}


.signup-button {
	width: 100%;
	margin-bottom: 20px;
	background-color: #00b33c;
	/*border: 1px solid #7f00ff;*/
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	border-radius: 3px;
}

.signup-button:hover {
	width: 100%;
	margin-bottom: 20px;
	background-color: #00e64d;
	/*border: 1px solid #7f00ff;*/
	font-size: 14px;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	border-radius: 3px;
}


h2.signup-title {
	margin-left: 20%;
	margin-bottom: 0px;
	color: #00b33c;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
