<div class="signup-box">
    <div>
        <h2>Create your personal account</h2>
        <div class="row">
            <div class="col-xs-12">
                <p>Username</p>
            </div>
            <div class="col-xs-12">
                <input class="input-field" ng-model="username" type="text" required>
            </div>
            <div class="col-xs-12">
                <p>Email address</p>         
            </div>
            <div class="col-xs-12">
                <input class="input-field" ng-model="email" type="text" required>
            </div>
            <div class="col-xs-12">
                <p>Password</p>         
            </div>
            <div class="col-xs-12">
                <input class="input-field" ng-model="password" type="text" required>
            </div>
            <div class="col-xs-12">
                <button  class="btn signup-button" ng-model="signupButton" class="btn btn-primary" ng-click="signup()">Create an account</button>
            </div>
        </div>  
        <br/>
        <div class="row">
          <br/>
          <div class="col-xs-12">
            <p>By clicking on "Create an account" below, you are agreeing to the Terms of Service and the Privacy Policy.</p>
          </div>
          <br/>
        </div>   
    </div>
</div>